body {
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

h2 {
  font-size: 2.5rem;
}

hr {
  border-color: #0088FF;
  border-style: dotted;
  border-width: 8px 0 0 0;
  margin: 35px auto;
  width: 10%;
}

p {
  text-indent: 3rem;
  line-height: 2;
}

.close {
  display: none;
}

.footer-link {
  padding: 0 50px;
}

.link {
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
  width: fit-content;
}

.link:hover {
  color: #0044BB;
}

.logo-rectangle {
  width: 80%;
}

.logo-square {
  width: 60%;
}

.open {
  display: block;
}

.profile-picture {
  width: 150px;
}

.project-thumbnail {
  width: 33%;
}

.skill {
  margin: auto;
  padding: 3%;
}

.social-logo {
  width: 75px;
}

#hamburger-button {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 5.625rem;
  padding: 5px;
  width: fit-content;
}

#header {
  background-color: #0088FF;
  color: white;
  padding: 25px;
  position: relative;
}

#header h1 {
  font-family: 'Caveat', sans-serif;
  font-size: 5.625rem;
  line-height: 1.5;
  margin: 0;
}

#main-container {
  margin: 40px 10%;
}

#skill-html-css {
  grid-area: a;
}

#skill-javascript {
  grid-area: b;
}

#skill-react {
  grid-area: c;
}

#skill-node {
  grid-area: d;
}

#skill-mongodb {
  grid-area: e;
}

#skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "a a b b c c"
  ". d d e e .";
}

#socials {
  background-color: hsl(40, 25%, 55%);
  padding: 25px;
}

@media screen and (min-width: 1001px) {
  .link {
    display: inline-block;
  }
  .link-first {
    padding: 0 12px 0 0;
  }
  .link-middle {
    padding: 0 12px;
  }
  .link-last {
    padding: 0 0 0 12px;
  }
  #cell-label {
    grid-area: c;
  }
  #cell-link {
    grid-area: d;
  }
  #email-label {
    grid-area: a;
  }
  #email-link {
    grid-area: b;
  }
  address {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "a c"
    "b d";
  }
  #hamburger-button {
    display: none;
  }
  #nav-links {
    display: block;
    text-align: right;
  }
}

@media screen and (max-width: 1000px) {
  .link {
    clear: both;
    display: block;
    float: right;
    padding: 20px 0 20px 12px;
  }
  #hamburger-button {
    display: block;
  }
  #header h1 {
    clear: both;
  }
  #nav-links {
    clear: both;
  }
}